@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&family=Vollkorn:wght@400;500&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Cairo';
  color: #505962;
  list-style: none;
}

.height-80{
  min-height: 80vh;
}

/* Navigation  */

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0,0,0,0.6)!important;
}
.navbar-brand img{
  height: 2rem;
}

.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5)),
    url(/img/time-lapse-photography-of-vehicles-passing-by-curved-road-2582545.jpg);
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.caption{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #fff;
}

.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem #000;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem #000;
  padding-bottom: 1.6rem;
}

.heading-underline{
  width: 75px;
  height: 5px;
  background-color: teal;
  margin: auto;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow{
  width: 90%;
  margin:0 auto;
}

.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}

.grid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 0.5rem;
  grid-template-areas:  
  "item1 item2 item2 item3"
  "item4 item4 item5 item5 "
  "item7 item6  item5 item5"
  ;
}

.grid img{
  width: 100%;
  height: 100%;
}

.item{
  min-height: 35vh;
}

.item1{
  grid-area: item1;
  background-color: #333;
}

.item2{
  grid-area: item2;
  background-color: #333;

}
.item3{
  grid-area: item3;
  background-color: #333;

}
.item4{
  background-color: #333;
  grid-area: item4;
}
.item5{
  background-color: #333;
  color: #fff;
  grid-area: item5;
}
.item6{
  background-color: #333;
  grid-area: item6;

}
.item7{
  grid-area: item7;
  background-color: #333;

}
.item8{
  grid-area: item8;
  background-color: #333;

}


.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card{
  cursor: pointer;
}

.front , .back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.3s linear;
}

.front img{
  height: 100%;
}

.front{
  transform: perspective(600px) rotateX(0deg);
}

.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateX(180deg);
}

.back-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}

.sm a:hover{
  color: #fff;
  background: #2c3e50;
}

.card:hover > .front{
  transform: perspective(600px) rotateX(-180deg);
}

.card:hover > .back{
  transform: perspective(600px) rotateX(0deg);
}

.bar{
  width: 80%;
}


.list li{
  margin: 20px 0;
}

.bar{
  background-attachment: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}


.html{
  width: 80%;
  animation: html 6s;
}

.css{
  width: 50%;
  animation: css 6s;
}

.js{
  width: 30%;
  animation: js 6s;
}

.js{
  width: 30%;
  animation: react 6s;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}

@keyframes react{
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
 -webkit-backface-visibility: hidden;
}



/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

@media (max-width: 800px) {
  .grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 0.5rem;
    grid-template-areas:  
    "item1 item2" 
    "item3 item3"
    "item4 item5"
    "item6 item7"
    ;
  }
}

